<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Programmer lives healthy</title>
		<link href="css/styles.css" rel="stylesheet" />
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
		<link href="../css/styles.css" rel="stylesheet" />
		<link href="../css/custom.css" rel="stylesheet" />
		<link rel="icon" type="/image/x-icon" href="/assets/img/favicon.png" />
		<script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
	</head>
	<body class="bg-primary">
		<div id="layoutAuthentication">
			<div id="layoutAuthentication_content">
				<main>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-5">
								<div class="card shadow-lg border-0 mt-5 nitai1">
									<div class="card-header justify-content-center">
										<h3 class="font-weight-light my-4">邀请新成员</h3>
									</div>
									<div class="card-body mb-4">
										<form method="post" action="/group/invite">
											<div class="form-group">
												<label class="small mb-1" for="inviteGroup">群组</label>
												<input disabled class="form-control py-4" id="inviteGroup" type="text" th:value="${group.getGroupName()}" />
											</div>
											<div class="form-group">
												<label class="small mb-1" for="email">用户</label>
												<input class="form-control py-4" id="email" name="email" type="email" placeholder="输入邀请用户的邮箱..." />
											</div>
											<input type="hidden" th:value="${group.getId()}" id="groupId" name="groupId">
											<p th:text="${msg}" style="color: red" th:if="${not #strings.isEmpty(msg)}"></p>
											<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
												<a class="btn text-dark btn-warning" href="/group/manage">取消</a>
												<button class="btn text-light btn-primary" type="submit">邀请</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
			<div id="layoutAuthentication_footer">
				<footer class="footer mt-auto footer-light">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 small">Copyright &copy; 2020 友人 & 饭盒君 联合出品</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
