<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Programmer lives healthy</title>
		<link href="/css/styles.css" rel="stylesheet" />
		<link href="/css/custom.css" rel="stylesheet" />
		<link rel="icon" type="/image/x-icon" href="/assets/img/favicon.png" />
		<script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
	</head>
	<body class="nav-fixed">
		<nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
			<a class="navbar-brand d-sm-block" href="/"><i class="mr-2" data-feather="codesandbox"></i>Programmer lives healthy</a>
			<ul class="navbar-nav align-items-center ml-auto">
				<li class="nav-item dropdown no-caret mr-1 dropdown-notifications">
					<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);"
					   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="bell"></i></a>
					<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownAlerts">
						<h6 class="dropdown-header dropdown-notifications-header"><i class="mr-2" data-feather="bell"></i>系统通知</h6>
						<a th:each="adminMessage : ${adminMessageList}" class="dropdown-item dropdown-notifications-item" href="/message">
							<div class="dropdown-notifications-item-icon ">
								<img class="dropdown-notifications-item-img m-0" th:src="@{${adminMessage.getFromUser().getAvatar()} }" />
							</div>
							<div class="dropdown-notifications-item-content">
								<div class="dropdown-notifications-item-content-details" th:text="${#dates.format(adminMessage.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></div>
								<div class="dropdown-notifications-item-content-text" th:text="${adminMessage.getContent()}"></div>
							</div>
						</a>
						<a class="dropdown-item dropdown-notifications-footer" href="/message">查看更多通知</a>
					</div>
				</li>
				<li class="nav-item dropdown no-caret mr-1 dropdown-notifications">
					<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages" href="javascript:void(0);"
					   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="mail"></i></a>
					<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownMessages">
						<h6  class="dropdown-header dropdown-notifications-header"><i class="mr-2" data-feather="mail"></i>我的消息</h6>
						<a th:each="commonMessage : ${commonMessageList}" class="dropdown-item dropdown-notifications-item" href="/message">
							<img class="dropdown-notifications-item-img" th:src="@{${commonMessage.getFromUser().getAvatar()}}" />
							<div class="dropdown-notifications-item-content">
								<div class="dropdown-notifications-item-content-text" th:text="${commonMessage.getContent()}"></div>
								<div class="dropdown-notifications-item-content-details" th:text="${commonMessage.getFromUser().getUsername()} + ' · ' +${#dates.format(commonMessage.getGmtCreate(), 'HH:mm')}"></div>
							</div>
						</a>
						<a class="dropdown-item dropdown-notifications-footer" href="/message">查看全部消息</a>
					</div>
				</li>
				<!-- 用户 -->
				<li class="nav-item dropdown no-caret ml-1 dropdown-user">
					<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);"
					 role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" th:src="@{${user.avatar}}" /></a>
					<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
						<h6 class="dropdown-header d-flex align-items-center">
							<img class="dropdown-user-img" th:src="@{${user.avatar}}" />
							<div class="dropdown-user-details">
								<div class="dropdown-user-details-name" th:text="${user.username}"></div>
								<div class="dropdown-user-details-email" th:text="${user.email}"></div>
							</div>
						</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/userinfo(id=${user.id})}">
							<div class="dropdown-item-icon"><i data-feather="settings"></i></div>
							账户
						</a><a class="dropdown-item" href="/logout">
							<div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
							退出
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<div id="layoutSidenav">
			<div id="layoutSidenav_content">
				<main>
					<form action="/updateUserInfo" method="post" enctype="multipart/form-data">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-xl-8 col-lg-9 col-md-10 col-sm-11">
									<div class="card my-5 nitai1">
										<div class="card-header">
											<div class="rpos" th:if="${userType}">
												<a onclick="updateInfo()" class="link">修改信息</a>
											</div>
											<div class="navicon">
												<i class="mr-2" data-feather="user"></i>用户信息
											</div>
										</div>
										<div class="card-body p-user">
											<div class="row">
												<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
													<a th:href="@{${userInfo.avatar}}">
														<img th:src="@{${userInfo.avatar}}" id="useravatar" class="mb-3 img-fluid show-avatar-lg">
													</a>
													<div id="av-ps-panel" style="display: none;">
														<p id="updavatarinfo"></p>
														<p>
															<label for="updavatar" class="link">修改头像(图片大小&lt;10MB)</label>
															<input type="file" class="form-control-file" id="updavatar" name="updavatar">
														</p>
														<p><a class="link" href="/resetPassword" >修改密码</a></p>
													</div>
												</div>
												<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
													<div class="row">
														<div class="col-12">
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth">用户名</span>
																</div>
																<input type="text" th:value="${userInfo.getUsername()}" disabled class="form-control roundbd-l dis-plain" id="usrname"
																 name="usrname">
															</div>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth">用户ID</span>
																</div>
																<input type="text" th:value="${userInfo.getId()}" disabled class="form-control roundbd-l dis-plain" id="usrid" name="usrid">
															</div>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth">QQ号</span>
																</div>
																<input type="text" th:value="${userInfo.getQq()}" disabled class="form-control roundbd-l dis-plain" id="usrqq" name="usrqq">
															</div>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth">邮箱</span>
																</div>
																<input type="email" th:value="${userInfo.getEmail()}" disabled class="form-control roundbd-l dis-plain" id="usremail"
																 name="usremail">
															</div>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth">总打卡次数</span>
																</div>
																<input type="text" th:value="${totalDay}" disabled class="form-control roundbd-l dis-plain" id="usrdays" name="usrdays">
															</div>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth">总红包金额</span>
																</div>
																<input type="text" th:value="${totalMoney}" disabled class="form-control roundbd-l dis-plain" id="usrmoney" name="usrmoney">
															</div>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
																	<span class="input-group-text align-eqwidth align-txtarea">个人简介</span>
																</div>
																<textarea rows="5" disabled class="form-control roundbd-l dis-plain" id="usrbio" name="usrbio" th:text="${userInfo.getBio()}"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row justify-content-center" id="submitpanel" style="display: none;">
												<button type="submit" id="updsubmit" class="btn btn-primary mr-5">确定</button>
												<button type="button" onclick="cancelUpd()" class="btn btn-secondary">取消</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="row justify-content-center">
						<div class="col-xl-8 col-md-12" th:if="${userInfo.id} != ${user.id}">
							<div class="card mt-3 ml-3 mr-3 nitai1">
								<form>
									<div class="card-header">
										<label for="content" class="navicon">
											<i class="mr-2" data-feather="at-sign"></i>给ta发送消息
										</label>
									</div>
									<div class="card-body">
										<div class="form-group">
											<textarea class="form-control form-control-solid" rows="3" id="content" name="content"></textarea>
											<input type="hidden" id="fromId" th:value="${user.id}">
											<input type="hidden" id="toId" th:value="${userInfo.id}">
										</div>
										<div class="form-group row">
											<div class="col-12">
												<img src="https://s1.ax1x.com/2020/06/30/NI4HGF.png" id="fileImg" class="img-fluid show-avatar">
												<p class="mt-3" id="postinfo">上传截图预览</p>
											</div>
											<div class="col-xl-6 col-md-12">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-3">
												<label for="img" class="btn btn-primary btn-icon mb-0">+</label>
												点击上传...<input type="file" class="form-control-file" id="img">
											</div>
											<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
												<button id="postbtn" class="btn btn-green btn-icon" type="button" onclick="sendMessage()">√</button>
												<span>点击发送</span>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</main>
				<footer class="footer mt-auto footer-light">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 small">Copyright &copy; 2020 友人 & 饭盒君 联合出品</div>
						</div>
					</div>
				</footer>
			</div>
		</div>

		<script src="/js/jquery-3.4.1.js"></script>
		<script>
			$("#img").on("change", function() {
				const maxsize = 10 * 1024 * 1024;
				let size = this.files[0].size;

				//截取路径，获取预览图
				let urlArr = this.value.split("\\");
				if (this && this.files && this.files[0]) {
					let fileUrl = URL.createObjectURL(this.files[0]);
					document.getElementById("fileImg").src = fileUrl;
				}

				if (size > maxsize) {
					document.getElementById("postinfo").innerHTML = "这个图片太大了，<br/>请换一张！";
					document.getElementById("postinfo").style.color = "#e81500";
					document.getElementById("postbtn").disabled = true;
				} else {
					document.getElementById("postinfo").innerHTML = "上传图片预览";
					document.getElementById("postinfo").style.color = "#687281";
					document.getElementById("postbtn").disabled = false;
				}

			});
			$("#updavatar").on("change", function() {
				const maxsize = 10 * 1024 * 1024;
				let size = this.files[0].size;
			
				//截取路径，获取预览图
				let urlArr = this.value.split("\\");
				if (this && this.files && this.files[0]) {
					let fileUrl = URL.createObjectURL(this.files[0]);
					document.getElementById("useravatar").src = fileUrl;
				}
			
				if (size > maxsize) {
					document.getElementById("updavatarinfo").innerHTML = "这个图片太大了，<br/>请换一张！";
					document.getElementById("updavatarinfo").style.color = "#e81500";
					document.getElementById("updsubmit").disabled = true;
				} else {
					document.getElementById("updavatarinfo").innerHTML = "上传图片预览";
					document.getElementById("updavatarinfo").style.color = "#687281";
					document.getElementById("updsubmit").disabled = false;
				}
			
			});
		</script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/comment.js"></script>
		<script src="/js/message.js"></script>
		<script src="/js/formUpdControl.js"></script>
	</body>
</html>
